*::before,
*::after {
  box-sizing: border-box;
}

html {
  overflow-y: scroll;
}

body {
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  margin: 0;
  padding: 0;
  font-family: 'Inter', 'Noto Sans KR', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  word-break: keep-all;
  letter-spacing: -0.01em;
  transition: background-color 3s ease;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  column-gap: 20px;
  padding: 30px 40px;
  max-width: 100%;
  margin: 0;
  align-items: start;
}

.nav-item {
  text-decoration: none;
  color: inherit;
  font-size: 24px;
  font-weight: 400;
  display: block;
  width: fit-content;
  justify-self: start;
  padding: 0;
  position: relative;
}

.nav-item:hover {
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-underline-offset: 3px;
}

.nav-logo {
  grid-column: 10;
  justify-self: end;
  width: auto;
  min-width: 34px;
  height: 34px;
  z-index: 10;
}

body.sub-page .nav-logo {
  mix-blend-mode: difference;
}

.nav-logo img {
  height: auto;
  display: block;
}

/* Books */

.books-label {
  grid-column: 1;
  text-align: left;
}

.book-list {
  display: none;
  list-style: none;
  padding: 0;
  margin: 0;
  padding-top: 20px;
  margin-top: -10px;
  position: absolute;
  top: 100%;
  left: 0;
  line-height: 1.4;
  white-space: nowrap;
}

.books-label:hover .book-list,
.books-label.is-open .book-list {
  display: block;
}

.book-list li {
  font-size: 24px;
  cursor: pointer;
  transition: none;
  text-decoration: underline transparent solid;
  text-decoration-thickness: 2px;
  text-underline-offset: 3px;
}

.book-list li:hover {
  transition: none;
}

.book-list li:hover:not(.is-selected) {
  text-decoration-color: currentColor;
  text-decoration-style: dotted;
}

.book-list li.is-selected {
  text-decoration-color: currentColor;
  text-decoration-style: solid;
}

.nav-item a,
.nav-item a:visited {
  color: inherit;
  text-decoration: none;
}

.hover-bg {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  width: 50vw;
  background-color: #000000;
  z-index: -1;
  display: none;
}

body.bg-active .hover-bg {
  display: block;
}


/* About */
.about-wrapper {
  display: contents;
}

body.sub-page .about-wrapper {
  display: contents;
}

.about-label {
  grid-column: 2;
  grid-row: 1;
  text-align: left;
  display: block;
}

.about-description {
  grid-column: 3 / 6;
  grid-row: 1;
  opacity: 0;
  visibility: hidden;
  transition: none;
  text-align: left;
  padding-right: 40px;
}

.about-label:hover {
  text-decoration-style: dotted;
}

.about-label:hover~.about-description,
.about-label.is-open~.about-description {
  opacity: 1;
  visibility: visible;
}

.about-label.is-open {
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-underline-offset: 3px;
  text-decoration-style: solid;
}

body.sub-page .about-label {
  display: none;
}

body.sub-page .about-description {
  position: static;
  grid-column: 3 / 6;
  grid-row: 1;
  width: auto;
  opacity: 1;
  visibility: visible;
  padding-top: 0;
}

.about-description P {
  margin: 0;
  font-size: 18px;
  line-height: 1.6;
  color: #000;
  text-align: left;
  font-weight: 500;
}

.about-description .ml-en {
  font-family: 'Inter', sans-serif;
  font-size: 1.025em;
  position: relative;
  top: -0.02em;
  font-weight: 500;
}

.side-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  width: 50vw;
  background-color: #000;
  display: none;
  overflow-y: auto;
  transform: translateZ(0);
  -webkit-transform: translateZ(0);
  align-items: flex-start;
  justify-content: center;
  z-index: -1;
  scrollbar-width: thin;
  /* Firefox */
  scrollbar-color: rgba(255, 255, 255, 0.5) transparent;
}

.side-backdrop::-webkit-scrollbar {
  width: 6px;
  background: transparent;
}

.side-backdrop::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 3px;
}

body.sub-page .side-backdrop {
  display: flex;
}

.image-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 0;
}

.image-container img {
  width: 100%;
  max-width: 90%;
  height: auto;
  margin-bottom: 20px;
  display: block;
}

.about-label.is-open~.page-description {
  opacity: 0;
  visibility: hidden;
}